{% if app.session.flashBag.peek(scopeKey) is not empty %}
    <div class="messages">
        {% for message in app.flashes(scopeKey) %}
            <div class="{{ message.type }}{% block messageCssClass %}{% endblock %}">
                {{ message.text }}
            </div>
        {% endfor %}
    </div>
{% endif %}
